.div{
  border:1px solid black !important;
}
.grass{
background: rgb(187,222,172);
}

.poison{
background: rgb(159,131,173);
}

.fire{
  background: rgb(243,170,167);
}

.water{

}




.electric{
background: rgb(255,225,134);
}